/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
#wrap > .container {
  padding: 30px 15px 0;
}
*/
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align:middle;
}

#footer > .container .credit {
  margin-top: 15px;
}



/* Custom bootstrap.css CSS
-------------------------------------------------- */

/* navbar */
.navbar-custom {
  background-color: #00395a; /* #f8f8f8 */
  border-color: #00304d; /* #e7e7e7 */
}
.navbar-custom .navbar-brand {
  color: #e5edf2; /* #777 */
  padding:5px 30px 0 15px; /* 추가 */
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #f3f7f9; /* #5e5e5e */
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #e5edf2; /* #777 */
}
.navbar-custom .navbar-nav > li > a {
  color: #e5edf2; /* #777 */
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #e9f0f4; /* #333 */
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #f3f7f9; /* #555 */
  background-color: #00304d; /* #e7e7e7 */
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #005180; /* #ddd */
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #005180; /* #ddd */
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #00304d; /* #e7e7e7 */
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #f3f7f9; /* #555 */
  background-color: #00304d; /* #e7e7e7 */
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #e5edf2; /* #777 */
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e9f0f4; /* #333 */
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f3f7f9; /* #555 */
    background-color: #00304d; /* #e7e7e7 */
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #e5edf2; /* #777 */
}
.navbar-custom .navbar-link:hover {
  color: #e9f0f4; /* #333 */
}
.navbar-custom .btn-link {
  color: #e5edf2; /* #777 */
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #e9f0f4; /* #333 */
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #ccc;
}


/* wrapcontainer CSS
-------------------------------------------------- */

* {font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif,AppleGothic;}
/* * {font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif,AppleGothic;}*/

/* wrapcontainer */
.wrapcontainer {padding:30px 0 30px 0;}

/* container */
/*.wrapcontainer {text-align:left; max-width: none !important;}*/

/* container : 제목, 설명, 아이콘, 경로 : 제목 아이콘 모양은 site.js 에서 설정 */
.wrapcontainer .page-header {position:relative; padding-bottom:10px; margin-bottom:20px;}
.wrapcontainer .page-header h1 {display:inline-block; letter-spacing:-1px; padding:0; margin:0; margin-right:10px; font-size:22px; font-weight:bold;}
.wrapcontainer .page-header h1 span.icon {display:none; font-size:15px; margin-right: 5px; color: #0f618e;}
.wrapcontainer .page-header p.lead {display:inline-block; padding:0; margin:0; font-size:13px;}
.wrapcontainer .page-header ol.breadcrumb {text-align:right; font-size:13px; background-color:transparent; position:absolute; top:-10px; right:0;}
.wrapcontainer .page-header ol.breadcrumb li {color:#999;}
.wrapcontainer .page-header ol.breadcrumb li.active {color:#333;}
.wrapcontainer .page-header ol.breadcrumb > li + li:before {padding: 0 3px; content: "/\00a0"; } /* bootstrap.css : 4589 line */

/**
 * ==================================================
 *	공통
 * ==================================================
 */
/*.text-bold {font-weight:bold;}*/ /* Jang 추가 */

/*.modal .row {margin-top:10px;}*/

/**
 * ==================================================
 *	폼
 * ==================================================
 */

/* 필수입력 */
form label.REQUIREYES { color: #3a87ad; }
form .form-control {font-size:13px; padding-left:8px; padding-right:8px;}

/**
 * ==================================================
 *	모달
 * ==================================================
 */
.modal {font-size:13px; overflow: auto !important;} /* overflow: auto !important; 멀티 모달시 scroll 문제 해결 */
.modal .modal-header h4 {font-weight:bold;}
.modal dl.row dt {text-align:right;}
/* 탭 */
.modal ul.nav-tabs {background-color:#f3f3f3; padding-top:10px; border-radius: 5px 5px 0 0;}
.modal ul.nav-tabs li {}
.modal ul.nav-tabs li.active {}
.modal ul.nav-tabs li a {font-size:15px; font-weight:bold; padding:8px 15px;}
.modal div.tab-content {padding-top:20px;}


/**
 * ==================================================
 *	테이블
 * ==================================================
 */
div.table-responsive { clear:both; }
.table { border-spacing:1px; font-size:13px; }
.table > caption { font-size:18px; font-weight:bold; }
.table > thead > tr { border:1px solid #e0e0d7 !important; }
.table > thead > tr > th { color:#4f493d; background-color:#f2f2eb; border-bottom:2px solid #e0e0d7 !important; text-align:center; }
.table > tbody > tr > th { color:#4f493d; background-color:#f2f2eb; }
.table > tbody > tr { border-bottom: 1px solid #ddd; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color: #ebf6ff; }


/**
 * ==================================================
 *	리스트
 * ==================================================
 */
/* 리스트 검색 폼 */
div[data-me=list] {font-size:13px;}
div[data-me=list] form[data-me=form] {}
div[data-me=list] form[data-me=form] div {display:inline-block;}
div[data-me=list] form[data-me=form] select {background-color:#f9f9f9;} /*width:auto;*/
div[data-me=list] form[data-me=form] input {background-color:#f9f9f9;} /*width:auto;*/
div[data-me=list] form[data-me=form] div.form-group {margin:3px 10px 3px 0;}
div[data-me=list] form[data-me=form] div.form-group.me-multi {margin-right:-1px;}
div[data-me=list] form[data-me=form] div.form-group label {margin-right:5px;}
div[data-me=list] form[data-me=form] div.form-group input {width:98px;}
div[data-me=list] form[data-me=form] div.form-group .form-control {font-size:13px; height:32px; padding:5px 5px;} /* select, input */
div[data-me=list] form[data-me=form] div[data-me=form-menu] select,
div[data-me=list] form[data-me=form] div[data-me=form-option] select {background-color:#dff0d8;}
div[data-me=list] form[data-me=form] div[data-me=form-button] button {font-size:13px; height:32px; padding:5px 12px;}
div[data-me=list] form[data-me=form] div[data-me=form-button] {margin-right:12px;}
div[data-me=list] form[data-me=form] div[data-me=form-option] {float:right;}
div[data-me=list] form[data-me=form] div[data-me=form-option] div.count {margin-right:10px;}
div[data-me=list] form[data-me=form] div[data-me=form-option] div.count span.number {display:inline-block; margin:0 3px; font-weight:bold; color:#f30;}
div[data-me=list] form[data-me=form] div[data-me=form-option] div.form-group:last-child {margin-right:0;}
div[data-me=list] form[data-me=form] div[data-me=form-searched] {}
div[data-me=list] form[data-me=form] div[data-me=form-searched] div.alert-dismissable {display:inline-block;padding-right:25px;}
div[data-me=list] form[data-me=form] div[data-me=form-searched] div.alert-dismissable button {right:-5px} /* × */
div[data-me=list] form[data-me=form] div[data-me=form-searched] div.alert-dismissable span.key {color:#91bbd9; display:inline-block; margin-right:5px;}
div[data-me=list] form[data-me=form] div[data-me=form-searched] div.alert-dismissable span.value {color:#999;}
div[data-me=list] form[data-me=form] div[data-me=form-custom] {display:inline-block; margin-right:10px;} /* 목록 화면에서 추가하는 요소 */
div[data-me=list] form[data-me=form] div[data-me=form-custom] button { margin-right:5px; background-color:#e3e3e3; }
div[data-me=list] form[data-me=form] div[data-me=form-custom] p { display:inline-block; padding:5px 10px; font-weight:bold; background-color:#fff3a2; font-size: 12px; line-height: 1.5; border-radius: 3px; }

/* 본문 : 리스트 테이블 */
div[data-me=list] div[data-me=body]			{margin-top:8px;clear:both;}
/*
div[data-me=list] table[data-me=table]			{width:100%; margin-bottom:15px;}
div[data-me=list] table[data-me=table] thead th	{padding:5px; text-align:center; color:#4f493d; background-color:#f2f2eb; border-top:1px solid #e0e0d7; border-right:1px solid #e0e0d7; border-bottom:2px solid #e0e0d7; border-left:1px solid #e0e0d7;}
div[data-me=list] table[data-me=table] thead td	{}
div[data-me=list] table[data-me=table] tbody th	{}
div[data-me=list] table[data-me=table] tbody td	{padding:5px; background-color:#fff; border-bottom:1px solid #d5d5d5; border-left:1px solid #f3f3f3; color:#333;}
*/
/* 본문 : 리스트 테이블 내의 정보 */
div[data-me=list] table[data-me=table] tbody td dl.data			{color:#333;padding:3px; margin-bottom:3px;} /* 일반 */
div[data-me=list] table[data-me=table] tbody td dl.data.wrap	{border:1px solid #ddd;background-color:#f9f9f9;margin-top:5px;color:#333;padding:3px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;} /* 메모 */
div[data-me=list] table[data-me=table] tbody td dl.data dt.b	{display:block;color:#888;letter-spacing:0;margin-right:0;font-weight:bold;background-color:#f3f3f3;padding:0 3px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}	/* 제목(block) */
div[data-me=list] table[data-me=table] tbody td dl.data dt,
div[data-me=list] table[data-me=table] tbody td dl.data dt.i	{display:inline-block;color:#888;letter-spacing:-1px;margin-right:5px;background-color:#f3f3f3;padding:0 3px; margin-top:3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}	/* 라벨 */
div[data-me=list] table[data-me=table] tbody td dl.data dt.bc	{display:block;color:#888;letter-spacing:0;margin-right:0;font-weight:bold;background-color:#e5efca;padding:0 3px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}	/* 제목(block) 바탕색 */
div[data-me=list] table[data-me=table] tbody td dl.data dt.ic	{display:inline-block;color:#888;letter-spacing:0;margin-right:10px;font-weight:bold;background-color:#e5efca;padding:0 3px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}	/* 제목(inline-block) 바탕색 */
div[data-me=list] table[data-me=table] tbody td dl.data dd		{display:inline;color:#333;margin-right:10px}	/* 값 */

/* 자료없음 페이지, 버튼, 쿼리 */
div[data-me=list] div[data-me=none] {text-align:center; color:#f30; margin-bottom:15px; padding:15px 0 30px 0; border-bottom:2px solid #e0e0d7;}
div[data-me=list] div[data-me=page] {text-align:center;}
div[data-me=list] div[data-me=page] ul.pagination {margin:0;}
div[data-me=list] div[data-me=button] {margin-top:0; text-align:right;}
div[data-me=list] div[data-me=query] {color:#91bbd9;margin-right:8px}

/**
 * ==================================================
 *	툴팁
 * ==================================================
 */
.tooltip-inner {background-color:#fff29d;color:#000;padding:5px 8px;font-weight:bold;font-size:12px;}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {border-top-color:#fff29d;}
.tooltip.right .tooltip-arrow {border-right-color:#fff29d;}
.tooltip.left .tooltip-arrow {border-left-color:#fff29d;}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {border-bottom-color:#fff29d;}
.tooltip.in {opacity:0.95;filter:alpha(opacity=95);}





/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*
.navbar-wrapper {
  position: relative;
  z-index: 15;
}
*/



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 30px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}
/*
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
*/




